<html>
    <head>
        <title>blog Aldony</title>
    </head>
    <body>
        <div>
	    <h1><a href="">Witam w blogu Aldony</a></h1>
        </div>

	<div>
	    <h2><a href="">Mój pierwszy post</a></h2>
	    <p>published: 24.05.2015, 15:24</p>
	    <p>Hej to ja!</p>
            <p>Zobaczymy co z tego wyjdzie!</p>
	</div>

 	<div>
	    <h2><a href="">Mój drugi post</a></h2>
	    <p>published: 24.05.2015, 115:30</p>    
	    <p>Walczę. Może coś z tego będzie.</p>
            <p>Naprawdę chcę się tego nauczyć!</p>
    </body>
</html>


